<html>
  <head>
    <title>Newburgh Swim News</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div class="splash-container">
      <h1 id="splash_title">Newburgh Swim News</h1>
      <div class="button_wrapper">
        <p class="menu_button background_button" id="fade_text">Press SPACE BAR to enter</p>
      </div>
    </div>

   
    <img id="background_image" src="/images/campus.png" alt="campus background" />
    <img id="float1" src="/images/Homepage1.jpeg" class="floating-image"  />
    <img id="float2" src="/images/Homepage2.jpeg" class="floating-image"  />
    <img id="float3" src="/images/Homepage3.jpeg" class="floating-image" />

    <script src="/js/global.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>

