<!doctype html>
<html>
  <head>
      <title>FoxChatter</title>
      <link rel="stylesheet" type="text/css" href="/css/global.css">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
      <h1 id="splash_title">FoxChatter</h1>
      <div class="button_wrapper">
      <p class="menu_button background_button" id="fade_text">Press SPACE BAR to get started</p>
      </div>
      <script src="/js/global.js"></script>
      <script src="/js/index.js"></script>
      <img id="background_image" src="/images/campus.png" alt="campus" />
  </body>
</html>
